flows/ADSB_Reader.json
{"flowContents":{"identifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","instanceIdentifier":"5af2c74e-c058-3688-f4cb-902db8135ed4","name":"ADSB Reader","comments":"","position":{"x":1864.0,"y":2064.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"14ed170a-09ab-3730-90f2-21dd584e3a16","instanceIdentifier":"787d923f-b351-3f0e-9eac-8f1881ee303c","name":"SplitRecord","comments":"","position":{"x":488.0,"y":280.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Record Writer":"64a7fb84-7ea3-3171-8817-3d1e1396f27d","Record Reader":"52c72e7e-a115-34ed-b10f-06eafc6bd1d6","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"6657b3bd-9230-3115-9720-86d56767416d","instanceIdentifier":"674aa40c-1ace-32ab-8fef-55a9213292b3","name":"SplitJson","comments":"","position":{"x":504.0,"y":912.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.aircraft.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"dab3030a-ec86-3b4a-aa01-9446dd4b13cc","instanceIdentifier":"31c1e4a7-2438-3253-1126-00181a16f8e7","name":"RetryFlowFile","comments":"","position":{"x":512.0,"y":1768.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"bbdf04bd-edd5-3f1b-bc76-61631e6eb101","instanceIdentifier":"0fbd3a98-cacf-35d1-c59b-e232c08f7906","name":"Add Timestamp","comments":"","position":{"x":504.0,"y":1128.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"record-writer":"64a7fb84-7ea3-3171-8817-3d1e1396f27d","/uuid":"${UUID()}","record-reader":"52c72e7e-a115-34ed-b10f-06eafc6bd1d6","replacement-value-strategy":"literal-value","/ts":"${now():toNumber()}","/adsbnow":"${adsbnow}"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"/uuid":{"name":"/uuid","displayName":"/uuid","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/ts":{"name":"/ts","displayName":"/ts","identifiesControllerService":false,"sensitive":false},"/adsbnow":{"name":"/adsbnow","displayName":"/adsbnow","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"29073b0c-5717-34f6-ab12-d9cfcab1bd41","instanceIdentifier":"e0c686cd-957d-3787-4d7e-3ff271d23d90","name":"Send Plane Tracking to Slack","comments":"","position":{"x":-584.0,"y":1616.0},"type":"org.apache.nifi.processors.slack.PutSlack","bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"1.21.0"},"properties":{"icon-emoji":null,"webhook-text":"___________________________________________________________________\nOverhead Aircraft\nUUID: ${uuid} \n\naltbaro: ${altbaro}\naltgeom ${altgeom}\nbarorate ${barorate}\nemergency ${emergency}\ngs ${gs}\nkafka.key ${kafka.key} \nkafka.timestamp ${kafka.timestamp}\nlatitude ${latitude}\nlongitude ${longitude}\nmessages ${messages}\nplaneid ${planeid}\nrssi ${rssi}\nseen ${seen}\nsquawk ${squawk}\ntrack ${track}\nadsbnow ${adsbnow}\n","channel":"#planes","icon-url":null,"username":null},"propertyDescriptors":{"icon-emoji":{"name":"icon-emoji","displayName":"Icon Emoji","identifiesControllerService":false,"sensitive":false},"webhook-url":{"name":"webhook-url","displayName":"Webhook URL","identifiesControllerService":false,"sensitive":true},"webhook-text":{"name":"webhook-text","displayName":"Webhook Text","identifiesControllerService":false,"sensitive":false},"channel":{"name":"channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false},"icon-url":{"name":"icon-url","displayName":"Icon URL","identifiesControllerService":false,"sensitive":false},"username":{"name":"username","displayName":"Username","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"15 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"20a8e29f-aa95-3ec8-89f9-715275a37c29","instanceIdentifier":"eb0505b1-7068-314b-0379-ee435392b944","name":"Set Schema Name","comments":"","position":{"x":504.0,"y":480.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0"},"properties":{"schema":"adsb","schemaname":"adsb","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"adsb","topic":"adsb","topic.name":"adsb","Stateful Variables Initial Value":null},"propertyDescriptors":{"schema":{"name":"schema","displayName":"schema","identifiesControllerService":false,"sensitive":false},"schemaname":{"name":"schemaname","displayName":"schemaname","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"topic","identifiesControllerService":false,"sensitive":false},"topic.name":{"name":"topic.name","displayName":"topic.name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"0fc83445-862c-3914-9a17-509bc917b372","instanceIdentifier":"fd0bde24-82d9-3a3d-c73a-9910d4a9c795","name":"SplitRecord","comments":"","position":{"x":-112.0,"y":1152.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Record Writer":"64a7fb84-7ea3-3171-8817-3d1e1396f27d","Record Reader":"52c72e7e-a115-34ed-b10f-06eafc6bd1d6","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"83b0cd85-2f98-36a5-884d-2dea3a2974bf","instanceIdentifier":"c1335f07-6fd2-38a1-a09c-7c61770da24a","name":"Extract messages fields","comments":"","position":{"x":504.0,"y":696.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Destination":"flowfile-attribute","Return Type":"json","adsbnow":"$.now","messages":"$.messages","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"adsbnow":{"name":"adsbnow","displayName":"adsbnow","identifiesControllerService":false,"sensitive":false},"messages":{"name":"messages","displayName":"messages","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"8d728aac-ab01-3e19-a2a7-2ceba946995d","instanceIdentifier":"c282f0da-0ef0-3830-3e2b-0f3ab0487d3c","name":"Filter ","comments":"","position":{"x":512.0,"y":1344.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"filter":"SELECT * FROM FLOWFILE\nWHERE lat is not null AND lon is not null","all":"SELECT * FROM FLOWFILE","cache-schema":"true","dbf-default-precision":"10","record-writer":"64a7fb84-7ea3-3171-8817-3d1e1396f27d","record-reader":"52c72e7e-a115-34ed-b10f-06eafc6bd1d6","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"filter":{"name":"filter","displayName":"filter","identifiesControllerService":false,"sensitive":false},"all":{"name":"all","displayName":"all","identifiesControllerService":false,"sensitive":false},"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"7af21bac-0542-3220-9fae-cce29cba0643","instanceIdentifier":"37229032-fff1-3f3a-d2b1-f442aa93a84b","name":"PublishKafkaRecord Cloudera","comments":"","position":{"x":504.0,"y":1552.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.21.0"},"properties":{"compression.type":"none","attribute-name-regex":"filename","record-writer":"248f8784-31e3-329e-ab7c-e6ab235bffb1","bootstrap.servers":"nifi1:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"52c72e7e-a115-34ed-b10f-06eafc6bd1d6","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":"uuid","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"adsb","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"a5172662-940c-395c-8c43-0d512ee0013a","instanceIdentifier":"07de3234-07c0-33e5-e844-f1c7a3a891e3","name":"Fields to Post","comments":"","position":{"x":-112.0,"y":1376.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Destination":"flowfile-attribute","rssi":"$.rssi","Return Type":"json","latitude":"$.lat","emergency":"$.emergency","Null Value Representation":"empty string","gs":"$.gs","uuid":"$.uuid","seen":"$.seen","Path Not Found Behavior":"ignore","squawk":"$.squawk","barorate":"$.baro_rate","nowts":"$.now","planeid":"$.hex","track":"$.track","altbaro":"$.alt_baro","altgeom":"$.alt_geom","longitude":"$.lon"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"rssi":{"name":"rssi","displayName":"rssi","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"latitude":{"name":"latitude","displayName":"latitude","identifiesControllerService":false,"sensitive":false},"emergency":{"name":"emergency","displayName":"emergency","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"gs":{"name":"gs","displayName":"gs","identifiesControllerService":false,"sensitive":false},"uuid":{"name":"uuid","displayName":"uuid","identifiesControllerService":false,"sensitive":false},"seen":{"name":"seen","displayName":"seen","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"squawk":{"name":"squawk","displayName":"squawk","identifiesControllerService":false,"sensitive":false},"barorate":{"name":"barorate","displayName":"barorate","identifiesControllerService":false,"sensitive":false},"nowts":{"name":"nowts","displayName":"nowts","identifiesControllerService":false,"sensitive":false},"planeid":{"name":"planeid","displayName":"planeid","identifiesControllerService":false,"sensitive":false},"track":{"name":"track","displayName":"track","identifiesControllerService":false,"sensitive":false},"altbaro":{"name":"altbaro","displayName":"altbaro","identifiesControllerService":false,"sensitive":false},"altgeom":{"name":"altgeom","displayName":"altgeom","identifiesControllerService":false,"sensitive":false},"longitude":{"name":"longitude","displayName":"longitude","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"2fe4c88e-ab15-3256-8ff8-cc4dc395cf7d","instanceIdentifier":"cf0c996f-b1cf-3913-b371-05f6cd331894","name":"Consume RAW Bulk ADSB Messages from Kafka","comments":"","position":{"x":488.0,"y":88.0},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.21.0"},"properties":{"header-name-regex":null,"Commit Offsets":"true","group.id":"nifi-adsb-reader","bootstrap.servers":"nifi1:9092","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"30 secs","sasl.mechanism":"GSSAPI","honor-transactions":"false","kerberos-user-service":null,"message-header-encoding":"UTF-8","message-demarcator":null,"sasl.username":null,"max.poll.records":"20000","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"rawadsb","separate-by-key":"false","key-attribute-encoding":"utf-8","auto.offset.reset":"earliest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"}],"inputPorts":[{"identifier":"e8d0ee11-c97f-328e-b7ed-5b8080611c37","instanceIdentifier":"4f4af986-0188-1000-ba02-f369e015da0c","name":"Edge IN","position":{"x":0.0,"y":336.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"}],"outputPorts":[{"identifier":"23b868b7-be3e-39fd-b329-0363c1ae1a22","instanceIdentifier":"7356d7cf-7d4d-3c30-982e-cf24553b2ea1","name":"Alerts","position":{"x":-48.0,"y":1688.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"d45f1ce7-d872-38f9-a391-57d8b891f0a6","instanceIdentifier":"9894ec7b-6ac8-3745-d1a3-4fe75cf68924","name":"Errors","position":{"x":1752.0,"y":848.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"}],"connections":[{"identifier":"f2704de1-a73a-33d9-a62d-0e299bfbecc7","instanceIdentifier":"f5f33204-d468-392c-4b58-2e43e37ced9d","name":"","source":{"id":"dab3030a-ec86-3b4a-aa01-9446dd4b13cc","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"RetryFlowFile","comments":"","instanceIdentifier":"31c1e4a7-2438-3253-1126-00181a16f8e7"},"destination":{"id":"7af21bac-0542-3220-9fae-cce29cba0643","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"37229032-fff1-3f3a-d2b1-f442aa93a84b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":400.0,"y":1736.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"b91fce94-f119-3bae-8892-a657719120ce","instanceIdentifier":"a3aac754-0356-3967-fe98-166640c4df64","name":"","source":{"id":"14ed170a-09ab-3730-90f2-21dd584e3a16","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"SplitRecord","comments":"","instanceIdentifier":"787d923f-b351-3f0e-9eac-8f1881ee303c"},"destination":{"id":"09b47955-5222-3516-be59-32c124aa9687","type":"FUNNEL","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Funnel","comments":"","instanceIdentifier":"9ff79d0d-1bdb-3278-c23e-fd5e309c6b6a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"f2015459-1df3-3914-96af-58aab499d4b1","instanceIdentifier":"b829c026-d8b6-3913-6096-195671dc27a3","name":"","source":{"id":"dab3030a-ec86-3b4a-aa01-9446dd4b13cc","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"RetryFlowFile","comments":"","instanceIdentifier":"31c1e4a7-2438-3253-1126-00181a16f8e7"},"destination":{"id":"1cbd97d4-b94c-371b-8362-32dae1b964e3","type":"FUNNEL","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Funnel","comments":"","instanceIdentifier":"e408615d-29b4-3ae5-3a46-e8f4ac5bd8a4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"e23e24af-53e8-3031-a5ba-3ee135258375","instanceIdentifier":"1136f24f-ece9-35b0-74cb-94c3cb3e730c","name":"","source":{"id":"8d728aac-ab01-3e19-a2a7-2ceba946995d","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Filter ","comments":"","instanceIdentifier":"c282f0da-0ef0-3830-3e2b-0f3ab0487d3c"},"destination":{"id":"7af21bac-0542-3220-9fae-cce29cba0643","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"37229032-fff1-3f3a-d2b1-f442aa93a84b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["filter"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"d6986b56-80ef-35d9-9ea9-aaba071bbd11","instanceIdentifier":"ecc2368f-317f-398b-9308-6bb1faeb2d4d","name":"","source":{"id":"a5172662-940c-395c-8c43-0d512ee0013a","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Fields to Post","comments":"","instanceIdentifier":"07de3234-07c0-33e5-e844-f1c7a3a891e3"},"destination":{"id":"29073b0c-5717-34f6-ab12-d9cfcab1bd41","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Send Plane Tracking to Slack","comments":"","instanceIdentifier":"e0c686cd-957d-3787-4d7e-3ff271d23d90"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"c1a98240-fe20-39ab-9d2a-1f57ee221554","instanceIdentifier":"3b10cf79-d78e-3a86-9ec4-eefad873c516","name":"","source":{"id":"7af21bac-0542-3220-9fae-cce29cba0643","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"37229032-fff1-3f3a-d2b1-f442aa93a84b"},"destination":{"id":"dab3030a-ec86-3b4a-aa01-9446dd4b13cc","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"RetryFlowFile","comments":"","instanceIdentifier":"31c1e4a7-2438-3253-1126-00181a16f8e7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"46e0a26c-dd98-38c1-bbc1-f5d121b12b6b","instanceIdentifier":"9b9cf6c0-71d1-363d-081a-e79b88033f8e","name":"","source":{"id":"2fe4c88e-ab15-3256-8ff8-cc4dc395cf7d","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Consume RAW Bulk ADSB Messages from Kafka","comments":"","instanceIdentifier":"cf0c996f-b1cf-3913-b371-05f6cd331894"},"destination":{"id":"14ed170a-09ab-3730-90f2-21dd584e3a16","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"SplitRecord","comments":"","instanceIdentifier":"787d923f-b351-3f0e-9eac-8f1881ee303c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"e111b970-034c-3891-b1e9-c6acf0a51ede","instanceIdentifier":"e8785974-254d-32ad-e41d-9b5710e8dd00","name":"","source":{"id":"20a8e29f-aa95-3ec8-89f9-715275a37c29","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Set Schema Name","comments":"","instanceIdentifier":"eb0505b1-7068-314b-0379-ee435392b944"},"destination":{"id":"83b0cd85-2f98-36a5-884d-2dea3a2974bf","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Extract messages fields","comments":"","instanceIdentifier":"c1335f07-6fd2-38a1-a09c-7c61770da24a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"35068fa2-b658-3e59-9a9b-3cb966d4bcc2","instanceIdentifier":"dbf4a1cf-10d5-3040-88bd-be8f0a187a70","name":"","source":{"id":"a5172662-940c-395c-8c43-0d512ee0013a","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Fields to Post","comments":"","instanceIdentifier":"07de3234-07c0-33e5-e844-f1c7a3a891e3"},"destination":{"id":"23b868b7-be3e-39fd-b329-0363c1ae1a22","type":"OUTPUT_PORT","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Alerts","instanceIdentifier":"7356d7cf-7d4d-3c30-982e-cf24553b2ea1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"60ce6d6b-ec71-349f-a898-4a0bce500025","instanceIdentifier":"1618ec56-6ce0-3c94-ec4c-36987bfb1cbd","name":"","source":{"id":"bbdf04bd-edd5-3f1b-bc76-61631e6eb101","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Add Timestamp","comments":"","instanceIdentifier":"0fbd3a98-cacf-35d1-c59b-e232c08f7906"},"destination":{"id":"8d728aac-ab01-3e19-a2a7-2ceba946995d","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Filter ","comments":"","instanceIdentifier":"c282f0da-0ef0-3830-3e2b-0f3ab0487d3c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"2f82318b-d2d3-3a36-8cd7-8a02ccf15e6f","instanceIdentifier":"b35cd243-642f-3fac-1daf-2a736c8aab79","name":"","source":{"id":"bbdf04bd-edd5-3f1b-bc76-61631e6eb101","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Add Timestamp","comments":"","instanceIdentifier":"0fbd3a98-cacf-35d1-c59b-e232c08f7906"},"destination":{"id":"1cbd97d4-b94c-371b-8362-32dae1b964e3","type":"FUNNEL","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Funnel","comments":"","instanceIdentifier":"e408615d-29b4-3ae5-3a46-e8f4ac5bd8a4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"adec88d2-20b8-3213-b2d4-722ef9dcacdf","instanceIdentifier":"7cd0a44e-0674-339b-9f94-40369246d251","name":"","source":{"id":"8d728aac-ab01-3e19-a2a7-2ceba946995d","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Filter ","comments":"","instanceIdentifier":"c282f0da-0ef0-3830-3e2b-0f3ab0487d3c"},"destination":{"id":"1cbd97d4-b94c-371b-8362-32dae1b964e3","type":"FUNNEL","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Funnel","comments":"","instanceIdentifier":"e408615d-29b4-3ae5-3a46-e8f4ac5bd8a4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"463623ea-0f57-3383-9ca5-6da2aded32e4","instanceIdentifier":"4f4b0410-0188-1000-6846-8252a7206a7b","name":"","source":{"id":"e8d0ee11-c97f-328e-b7ed-5b8080611c37","type":"INPUT_PORT","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Edge IN","instanceIdentifier":"4f4af986-0188-1000-ba02-f369e015da0c"},"destination":{"id":"14ed170a-09ab-3730-90f2-21dd584e3a16","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"SplitRecord","comments":"","instanceIdentifier":"787d923f-b351-3f0e-9eac-8f1881ee303c"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"287c90fc-4c0b-3f3d-8d55-0b5aedd29bb0","instanceIdentifier":"7c174933-4551-320a-ffe7-fa2212ffa8c1","name":"","source":{"id":"8d728aac-ab01-3e19-a2a7-2ceba946995d","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Filter ","comments":"","instanceIdentifier":"c282f0da-0ef0-3830-3e2b-0f3ab0487d3c"},"destination":{"id":"0fc83445-862c-3914-9a17-509bc917b372","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"SplitRecord","comments":"","instanceIdentifier":"fd0bde24-82d9-3a3d-c73a-9910d4a9c795"},"labelIndex":1,"zIndex":0,"selectedRelationships":["all"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"4c7aa29e-544a-39e5-b142-8ecc875468ed","instanceIdentifier":"71777d2b-28bf-3a03-fd42-e39f2d946efa","name":"","source":{"id":"6657b3bd-9230-3115-9720-86d56767416d","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"SplitJson","comments":"","instanceIdentifier":"674aa40c-1ace-32ab-8fef-55a9213292b3"},"destination":{"id":"bbdf04bd-edd5-3f1b-bc76-61631e6eb101","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Add Timestamp","comments":"","instanceIdentifier":"0fbd3a98-cacf-35d1-c59b-e232c08f7906"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"d3654da8-308b-31f1-a8b3-0231e37c4a9f","instanceIdentifier":"5ae065d2-0d99-3afa-6707-22e2f29243be","name":"","source":{"id":"83b0cd85-2f98-36a5-884d-2dea3a2974bf","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Extract messages fields","comments":"","instanceIdentifier":"c1335f07-6fd2-38a1-a09c-7c61770da24a"},"destination":{"id":"09b47955-5222-3516-be59-32c124aa9687","type":"FUNNEL","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Funnel","comments":"","instanceIdentifier":"9ff79d0d-1bdb-3278-c23e-fd5e309c6b6a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"b304663c-65a4-394d-9570-a5474107a581","instanceIdentifier":"11dbaf5f-0945-329f-360c-f6be9acf7fa4","name":"","source":{"id":"14ed170a-09ab-3730-90f2-21dd584e3a16","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"SplitRecord","comments":"","instanceIdentifier":"787d923f-b351-3f0e-9eac-8f1881ee303c"},"destination":{"id":"20a8e29f-aa95-3ec8-89f9-715275a37c29","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Set Schema Name","comments":"","instanceIdentifier":"eb0505b1-7068-314b-0379-ee435392b944"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"6eed2447-c605-37ca-8f87-36a0ef6c1fa0","instanceIdentifier":"5bdfde1e-d011-3bdf-55e7-ddacc56a1f8f","name":"","source":{"id":"09b47955-5222-3516-be59-32c124aa9687","type":"FUNNEL","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Funnel","comments":"","instanceIdentifier":"9ff79d0d-1bdb-3278-c23e-fd5e309c6b6a"},"destination":{"id":"d45f1ce7-d872-38f9-a391-57d8b891f0a6","type":"OUTPUT_PORT","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Errors","instanceIdentifier":"9894ec7b-6ac8-3745-d1a3-4fe75cf68924"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"51a3116b-8239-3928-8abf-0bd8109017a4","instanceIdentifier":"d7c9c41a-04f3-3a50-887c-d4e3351490ec","name":"","source":{"id":"0fc83445-862c-3914-9a17-509bc917b372","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"SplitRecord","comments":"","instanceIdentifier":"fd0bde24-82d9-3a3d-c73a-9910d4a9c795"},"destination":{"id":"a5172662-940c-395c-8c43-0d512ee0013a","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Fields to Post","comments":"","instanceIdentifier":"07de3234-07c0-33e5-e844-f1c7a3a891e3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"9dea056a-afc0-38bc-8688-5be892afb3d7","instanceIdentifier":"52342b5d-ff75-3b77-cb78-72b2a93a2fa6","name":"","source":{"id":"83b0cd85-2f98-36a5-884d-2dea3a2974bf","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Extract messages fields","comments":"","instanceIdentifier":"c1335f07-6fd2-38a1-a09c-7c61770da24a"},"destination":{"id":"6657b3bd-9230-3115-9720-86d56767416d","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"SplitJson","comments":"","instanceIdentifier":"674aa40c-1ace-32ab-8fef-55a9213292b3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"16ee3dac-9c52-30d3-b0d3-1918662f3090","instanceIdentifier":"4324479b-18dd-3ea6-d4a2-c80a4e14564c","name":"","source":{"id":"6657b3bd-9230-3115-9720-86d56767416d","type":"PROCESSOR","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"SplitJson","comments":"","instanceIdentifier":"674aa40c-1ace-32ab-8fef-55a9213292b3"},"destination":{"id":"09b47955-5222-3516-be59-32c124aa9687","type":"FUNNEL","groupId":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5","name":"Funnel","comments":"","instanceIdentifier":"9ff79d0d-1bdb-3278-c23e-fd5e309c6b6a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"}],"labels":[],"funnels":[{"identifier":"1cbd97d4-b94c-371b-8362-32dae1b964e3","instanceIdentifier":"e408615d-29b4-3ae5-3a46-e8f4ac5bd8a4","position":{"x":1576.0,"y":1472.0},"componentType":"FUNNEL","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"},{"identifier":"09b47955-5222-3516-be59-32c124aa9687","instanceIdentifier":"9ff79d0d-1bdb-3278-c23e-fd5e309c6b6a","position":{"x":1216.0,"y":688.0},"componentType":"FUNNEL","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"}],"controllerServices":[{"identifier":"248f8784-31e3-329e-ab7c-e6ab235bffb1","instanceIdentifier":"43dc6b31-9b1b-3576-4b00-a6da4fe9d25b","name":"AvroRecordSetWriterSchema","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0"},"properties":{"compression-format":"NONE","Schema Write Strategy":"hwx-content-encoded-schema","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":"af9fb898-f772-3373-ac83-f4ffb155c613","schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"30da1bc6-ba9f-32a8-bcb0-10c4699f2df5"}],"variables":{},"parameterContextName":"adsb","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":999999,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"52c72e7e-a115-34ed-b10f-06eafc6bd1d6":{"identifier":"52c72e7e-a115-34ed-b10f-06eafc6bd1d6","name":"Infer JsonTreeReader"},"64a7fb84-7ea3-3171-8817-3d1e1396f27d":{"identifier":"64a7fb84-7ea3-3171-8817-3d1e1396f27d","name":"Standard Inherit JsonRecordSetWriter"},"af9fb898-f772-3373-ac83-f4ffb155c613":{"identifier":"af9fb898-f772-3373-ac83-f4ffb155c613","name":"ClouderaSchemaRegistry"}},"parameterContexts":{"adsb":{"name":"adsb","parameters":[],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}