flows/Edge_Stream1.json
{"flowContents":{"identifier":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6","instanceIdentifier":"4f3b599e-0188-1000-7be7-0946508676a7","name":"Edge_Stream","comments":"","position":{"x":1912.0,"y":2560.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a4cc7e89-31f9-3e8e-9a12-09a54539a883","instanceIdentifier":"2b914e19-4093-32f7-be95-d0c902c03c9f","name":"Route on Data","comments":"","position":{"x":548.9999954985437,"y":404.0000661700533},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Routing Strategy":"Route to Property name","notEmpty":"${fileSize:gt(100)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"notEmpty":{"name":"notEmpty","displayName":"notEmpty","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6"},{"identifier":"ef5a4cb4-e605-3203-9141-231fb1d84bcc","instanceIdentifier":"4f776a0e-0188-1000-526a-284877bbc387","name":"Which Data","comments":"","position":{"x":552.0,"y":656.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Routing Strategy":"Route to Property name","isADSB":"${User-Agent:contains('adsb')}","isThermal":"${User-Agent:contains('thermal')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"isADSB":{"name":"isADSB","displayName":"isADSB","identifiesControllerService":false,"sensitive":false},"isThermal":{"name":"isThermal","displayName":"isThermal","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6"},{"identifier":"a7b70b11-59b7-3d41-bfec-329e5195cf4a","instanceIdentifier":"d42e5010-d747-38a6-5de8-c026f13fe7fc","name":"Listen Edge Traffic","comments":"","position":{"x":704.0,"y":144.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":".*","health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"data","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"160 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"9199"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6"}],"inputPorts":[{"identifier":"45b24ff1-2042-39b3-833a-7403ff0f8c56","instanceIdentifier":"ce3e0787-cd48-3a05-65e3-053651132ce6","name":"MiNiFi In","position":{"x":320.0,"y":152.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":true,"componentType":"INPUT_PORT","groupIdentifier":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6"}],"outputPorts":[{"identifier":"fe58e83f-ec12-3477-aa5d-d1f97ed126b6","instanceIdentifier":"4f4b3c9d-0188-1000-5511-400b02f21102","name":"ADSB","comments":"","position":{"x":600.0,"y":912.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6"},{"identifier":"f73f7269-fbce-38e1-92d5-bf5d573dc20a","instanceIdentifier":"4f784152-0188-1000-a67c-04d9959747a9","name":"Thermal","position":{"x":144.0,"y":904.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6"}],"connections":[{"identifier":"e329a6fc-ac67-3e82-b356-3289cbed85be","instanceIdentifier":"f53617b4-7655-33e1-f232-154847777ce6","name":"","source":{"id":"a4cc7e89-31f9-3e8e-9a12-09a54539a883","type":"PROCESSOR","groupId":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6","name":"Route on Data","comments":"","instanceIdentifier":"2b914e19-4093-32f7-be95-d0c902c03c9f"},"destination":{"id":"d57acf7b-311e-3750-9242-5798fa71d333","type":"FUNNEL","groupId":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6","name":"Funnel","comments":"","instanceIdentifier":"73b07ccf-829e-33e1-15fa-ff325227e325"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6"},{"identifier":"85380860-c8aa-35d5-8be6-9691eb544982","instanceIdentifier":"2a0e357c-d211-3f2e-c4cd-0255cdfa5959","name":"","source":{"id":"45b24ff1-2042-39b3-833a-7403ff0f8c56","type":"INPUT_PORT","groupId":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6","name":"MiNiFi In","instanceIdentifier":"ce3e0787-cd48-3a05-65e3-053651132ce6"},"destination":{"id":"a4cc7e89-31f9-3e8e-9a12-09a54539a883","type":"PROCESSOR","groupId":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6","name":"Route on Data","comments":"","instanceIdentifier":"2b914e19-4093-32f7-be95-d0c902c03c9f"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6"},{"identifier":"25bd92e6-da6b-3bca-bfbd-a9fa24d28b1e","instanceIdentifier":"4f7798bf-0188-1000-73c6-66003618cfca","name":"","source":{"id":"ef5a4cb4-e605-3203-9141-231fb1d84bcc","type":"PROCESSOR","groupId":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6","name":"Which Data","comments":"","instanceIdentifier":"4f776a0e-0188-1000-526a-284877bbc387"},"destination":{"id":"d57acf7b-311e-3750-9242-5798fa71d333","type":"FUNNEL","groupId":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6","name":"Funnel","comments":"","instanceIdentifier":"73b07ccf-829e-33e1-15fa-ff325227e325"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6"},{"identifier":"2a4a56f1-5093-3748-8f05-352fab81bcbd","instanceIdentifier":"a8f57e0e-124b-3982-cdbb-f8e43667e707","name":"","source":{"id":"a4cc7e89-31f9-3e8e-9a12-09a54539a883","type":"PROCESSOR","groupId":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6","name":"Route on Data","comments":"","instanceIdentifier":"2b914e19-4093-32f7-be95-d0c902c03c9f"},"destination":{"id":"ef5a4cb4-e605-3203-9141-231fb1d84bcc","type":"PROCESSOR","groupId":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6","name":"Which Data","comments":"","instanceIdentifier":"4f776a0e-0188-1000-526a-284877bbc387"},"labelIndex":1,"zIndex":0,"selectedRelationships":["notEmpty"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6"},{"identifier":"b958c456-41da-3d44-a434-249387bbcb0f","instanceIdentifier":"4f788dbb-0188-1000-2ae6-37956f2f3bbe","name":"","source":{"id":"ef5a4cb4-e605-3203-9141-231fb1d84bcc","type":"PROCESSOR","groupId":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6","name":"Which Data","comments":"","instanceIdentifier":"4f776a0e-0188-1000-526a-284877bbc387"},"destination":{"id":"f73f7269-fbce-38e1-92d5-bf5d573dc20a","type":"OUTPUT_PORT","groupId":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6","name":"Thermal","instanceIdentifier":"4f784152-0188-1000-a67c-04d9959747a9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["isThermal"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6"},{"identifier":"ce330aae-6192-343a-937c-0627f5d44ac4","instanceIdentifier":"4f78182b-0188-1000-5368-2b72ce8701d0","name":"","source":{"id":"ef5a4cb4-e605-3203-9141-231fb1d84bcc","type":"PROCESSOR","groupId":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6","name":"Which Data","comments":"","instanceIdentifier":"4f776a0e-0188-1000-526a-284877bbc387"},"destination":{"id":"fe58e83f-ec12-3477-aa5d-d1f97ed126b6","type":"OUTPUT_PORT","groupId":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6","name":"ADSB","comments":"","instanceIdentifier":"4f4b3c9d-0188-1000-5511-400b02f21102"},"labelIndex":1,"zIndex":0,"selectedRelationships":["isADSB"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6"},{"identifier":"6e9707ec-0247-3dc4-9a8e-568a8bb29976","instanceIdentifier":"7fbd7ade-fab7-3180-4c87-1d2c51db2775","name":"","source":{"id":"a7b70b11-59b7-3d41-bfec-329e5195cf4a","type":"PROCESSOR","groupId":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6","name":"Listen Edge Traffic","comments":"","instanceIdentifier":"d42e5010-d747-38a6-5de8-c026f13fe7fc"},"destination":{"id":"a4cc7e89-31f9-3e8e-9a12-09a54539a883","type":"PROCESSOR","groupId":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6","name":"Route on Data","comments":"","instanceIdentifier":"2b914e19-4093-32f7-be95-d0c902c03c9f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6"}],"labels":[],"funnels":[{"identifier":"d57acf7b-311e-3750-9242-5798fa71d333","instanceIdentifier":"73b07ccf-829e-33e1-15fa-ff325227e325","position":{"x":1384.0,"y":744.0},"componentType":"FUNNEL","groupIdentifier":"7df09f2c-43b0-35c2-ba9b-5ec5bfa70ed6"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}